body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  width: 530px;
  background: #fff;
  margin: 16px auto 16px auto;
  
}

.title {
  background: #e3f4ff;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
}

.content {
  background: #e3f4ff;
  padding: 12px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 14px;
  margin-bottom: 16px;
  text-align: center;
  padding: 25px;
}

button {
  background: white;
  border: 1px solid #eee;
}