body {
  background-color: rgb(54, 67, 113);
}

.wrap {
  float: left;
/*  margin-right: 0px;*/
text-align: center;
/*  align-items: center;*/
/*height: 600px*/
/*  margin:  auto;*/
width: 87%;
/*padding: 50px;*/
}

.nav {
  float: left;
  background-color: rgb(176, 207, 255);
  padding-left: 10px;
  padding-right: 10px;

  height:400px;
/*width: 15%;*/
margin-left: 30px;
margin-top: 21px;
}

.nav > ul {
  list-style-position: outside;
  position: absolute;
  text-align: left;
/*  left: -10px;*/
}

/*ul li    {
  padding:0;
  width:150px;
  background:red;
  margin:10px 0;
}*/

.content {
  background-color: rgb(91, 127, 189);
  margin-left: 170px;
/*  padding: 19px;*/
/*  height: 63%;
  width: 655px;*/

}
.content > ul {
  list-style-type: none;
}

.copyright {
  margin-top: 20px;
  text-align: center;
  background-color: rgb(54, 67, 113)
}
