body {

/*	display: flex;*/
margin-left: 14px;
/* background-image: url(622d48aa60d0a.png);
background-repeat: repeat-y; */
/*background-size: contain;*/
/* background-position: left; */
/*background-size: 920px 880px;*/
}
/*.background {
	background-image: url(12377912_10153817580073185_6342066330017462016_o.jpg);
	background-repeat: repeat;

}*/
.topnav {
	background-image: url('wojciech-portnicki-klS2yWjGESU-unsplash.jpg');
	overflow: hidden;
	margin-top: 9px;
}
.topnav a {
	float: left;
	color: white;
	background-color: grey;
	opacity: 0.8;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: all 1s;
}
.topnav a:hover {
	background-color: #ddd;
	color: black;
	transform: scale(1.1);
	animation: ease;
}

.topnav a.active {
	background-color: #151515;
	color: white;
}
span.a {
	font-family: Arial;
	font-weight: 1200;
}



section {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	color: black;
	font-size: 27px;
	font-weight: bold;
}

img {
	
	margin: auto;
	display: flex;
	justify-content: center;
	border-color: black;
	height: 350px;
	width: 520px;
}

img:hover {
	transform: scale(1.120);
	animation: ease;
	transition: all 2s;
}

/* .tolImg {
	border-radius: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 150px;
	margin-top: -250px;
	
} */

div.content {
	display: flex;
	text-decoration-line: underline;
	text-align: left;
	width: 420px;
	padding-right: 45px;
	margin-left: 1250px;
	font-weight: 400px;
	opacity: 0.8;
	position: sticky;
	top: 220px;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	font-size: 20px;
}
ul {
	list-style-type: none;
	
}
li {
	margin-top: 2px;
	margin-bottom: 2px;
	
}


.footer {
	margin-left: 72px;
	position: sticky;
	height: 50px;
	font-size: 47px;
}

.category {
	font-size: 87px;
	font-family: 'Brush Script MT', sans-serif;
	color: lightgray;
	
}
.title {
	font-size: 42px;
	font-family: 'Brush Script MT', sans-serif;
	color: lightgray;
	margin-left: 130px;
	top: 0;
}





.container2{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	margin-top: 550px;

}
.page { 
/*	background-color: sandybrown;*/
/*background-blend-mode: screen;*/
background-image: url(fixed-open-old-blank-book-8534349.jpg);
background-size: cover;
max-width: 800px;
/* height: 800px; */
font-size: 28px;
margin: 0 auto ;
margin-left: 250px;
padding-top: 120px;
padding-bottom: 120px;
padding-right: 78px;
padding-left: 78px;
}

.dynamic-image {
	position: relative;
    overflow: hidden;
	opacity: 0.2;
}

.dynamic-image::after {
    content: '';
    display: block;
    padding-top: 75%;
    background: url('fixed-open-old-blank-book-8534349.jpg') center/cover no-repeat; 
	opacity: 0.2;
}




div.container {
	margin: auto;
	margin-top: 80px;
	display: flex;
flex-direction: row-reverse;
	position: sticky;
	top: 32px;
	right: 64px;
}

.footer {
	color: rgb(10, 9, 9);
	display: flex;
	font-size: 18px;
	bottom: 50px;
	z-index: 0;
}

.pfoot {
	margin-right: 550px;
}


