body {
	background-image: url(itl.cat_leaf-wallpaper-hd_413912.jpg);
	background-position: center;
}

.topnav {
	background-image: url(Bar_il_1140xN.1433734475_h819.png);
	overflow: hidden;
}
.topnav a {
	float: left;
	color: white;
	background-color: grey;
	opacity: 0.8;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: all 1s;
}
.topnav a:hover {
	background-color: #ddd;
	color: black;
	transform: scale(1.1);
	animation: ease;
}

.topnav a.active {
	background-color: #151515;
	color: white;
}
span.a {
	font-family: Arial;
	font-weight: 1200;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: left;
}
h1 {
	color: sandybrown;
	opacity: 0.8;
	font-family: Blackadder ITC regular;
	font-size: 47px;
}

.p1 {
	color: sandybrown;
	opacity: 0.8;
	font-family: Blackadder ITC regular, Harlow Solid, Arial;
	font-size: 47px;
}
.p2 {
	color: sandybrown;
	opacity: 0.8;
	font-family: Blackadder ITC regular, Harlow Solid, Arial;

}	
/*.p3 {
	font-family: monospace;
}
*/